{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "es6": true,
        "webextensions": true
    },
    "rules": {
        "no-console": "off",
        "no-continue": "off"
    }
}
