build/
dist/
coverage/
node_modules/
.tern-port
bench/dataset/chromedriver
bench/dataset/ext.zip
bench/dataset/requests.json
bench/.bench.json
example/background.bundle.js
example/background.js
example/content-script.bundle.js
example/content-script.js
example/background.iife.js
example/content-script.iife.js
