engine.bin
dist
node_modules
.nyc_output
.DS_Store
tsconfig.tsbuildinfo

bench/dataset/chromedriver
bench/dataset/ext.zip
bench/dataset/requests.json
bench/.bench.json

.changelog/
.yarn/
.rollup.cache/
